<!DOCTYPE html>
<html>
<head>
	<title>Vue JS : UJJWAL TECH</title>
	<!-- Using CDN -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script> -->

	<!-- Using the project inline file -->
	<!-- <script type = "text/javascript" src = "js/vue.min.js"></script> -->
	<script type = "text/javascript" src = "js/vue.js"></script>
</head>
<body>
      <div id="something">
      	<h1>{{value}}</h1>
      </div>
      <script type = "text/javascript">
         var vm = new Vue({
            data: { a: 2 },
            computed: {
            
               // get only, just need a function
               aSum: function () {
                  return this.a + 2;
               },
               
               // both get and set
               aSquare: {
                  get: function () {
                     return this.a*this.a;
                  },
                  set: function (v) {
                     this.a = v*2;
                  }
               }
            }
         })
         console.log(vm.aSquare);  // -> 4
         vm.aSquare = 3;
         console.log(vm.a);       // -> 6
         console.log(vm.aSum); // -> 8

         var  cm = new Vue({
		   el: '#something', // element id
		   data: {
		      value : vm.aSquare,
		   }
		});
      </script>
</body>
</html>